body {
    background: linear-gradient(45deg,white,#bcc0c1,#e2a330);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
} @keyframes color {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
} * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} #navbar {
    height: 80px;
    width: vw;
    background-color: #076ba7;
} img {
    height: 70px;
    position: absolute;
    top: 5px;
    left: 8px;
} #links {
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 20px;
    position: absolute;
    right: 25px;
    top: 23px;
} .links {
    color: white;
    text-decoration: none;
    font-size: large;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
} .links:hover {
    font-size: xx-large
} #signup {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 5%;
    padding: 2px;
} #search {
    width: 93px;
    height: 20px;
} button {
    padding: 1px;
    border-radius: 2%;
    font: message-box;
    border: solid black;
    border-radius: 10%;
} #fp {
    width: vw;
    text-align: center;
    font-size: 70px;
    padding-top: 50px;
    font-style: oblique;
} #sp {
    width: 1100px;
    margin: 0 auto; 
    padding: 0;
    padding-top: 50px;
    text-align: center; 
    font-size: 15px; 
    line-height: 1;
} #scp {
    position: relative;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
} #scc {
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 20px;
} #scc a {
    height: 40px;
    width: 170px;
    background-color: #e2a330;
    text-decoration: none;
    text-align: center;
    font: bolder;
    color: aliceblue;
    padding-top: 9px;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
} #scc a:hover {
    font-size: large;
} #unipic {
    position: absolute;
    top: 500px;
    left: 125px;
} #unipic img {
    width: 1000px;
    height: 650px;
} #f {
    text-align: center;
    text-decoration: underline;
    font-size: x-large;
} #facilityp {
    padding-top: 750px;
} #fol {
    position: absolute;
    left: 400px;
    padding-top: 5px;
} #fol li {
    text-align: left;
    direction: ltr;
} #tp {
    display: flex;
    align-items: center;
    justify-content: center;
} #testi {
    position: absolute;
    top: 1400px;
    text-decoration: underline;
    font-size: x-large;
} #testimg {
    width: 900px;
    height: 420px;
    position: absolute;
    top: 1450px;
    left: 200px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
} .l1 {
    width: 260px;
    height: 150px;
    position: absolute;
    left: 220px;
    top: 1500px;
} .l2 {
    width: 260px;
    height: 150px;
    position: absolute;
    left: 520px;
    top: 1500px;
} .l3 {
    width: 260px;
    height: 150px;
    position: absolute;
    left: 820px;
    top: 1500px;
} #fl {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 1805px;
    left: 290px;
} #ll {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 1805px;
    left: 310px;
} #il {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 1805px;
    left: 330px;
} #fl2 {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 1805px;
    left: 600px;
} #ll2 {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 1805px;
    left: 620px;
} #il2 {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 1805px;
    left: 640px;
} #fl3 {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 1805px;
    left: 935px;
} #ll3 {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 1805px;
    left: 955px;
} #il3 {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 1805px;
    left: 975px;
} footer {
    background-color: #043a5b;
    height: 200px;
    position: relative;
    top: 650px;
} #cu {
    color: #666666;
    font-size: x-large;
    font-weight: bold;
    text-decoration: underline;
    position: absolute;
    top: 25px;
    left: 50px;
} #cu1 {
    color: white;
    width: 300px;
    position: absolute;
    top: 60px;
    left: 25px;
} #cuu {
    text-decoration: none;
    color: white;
} #ru {
    color: #666666;
    font-size: x-large;
    font-weight: bold;
    text-decoration: underline;
    position: absolute;
    top: 25px;
    left: 850px;
} .a {
    color: white;
    text-decoration: none;
    position: absolute;
    top: 60px;
    left: 900px;
} .b {
    color: white;
    text-decoration: none;
    position: absolute;
    top: 80px;
    left: 900px;
} .c {
    color: white;
    text-decoration: none;
    position: absolute;
    top: 100px;
    left: 900px;
} #copyright {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 120px;
} button:hover {
    color: white;
    background-color: #076ba7;
} #signup:hover {
    color: black;
    background-color: #f2f2f2;
} 
